@model ForumWebApp.ViewModels.ProductDetailViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-lg-8">
    <!-- Post content-->
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1"> @Model.Product.Name</h1>
            <h4 class="fw-bolder mb-1 mt-1">@Model.Product.Stars *</h4>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-1">Released on @Model.Product.Date.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("en-EN"))</div>

            @foreach (var item in @Model.Product.ProductCategories)
            {
                <a class="badge bg-secondary text-decoration-none link-light" href="@Url.Action("Detail", "Category", new { id = item.Category.Id })">@item.Category.Name</a>
                
            }
        </header>
        <!-- Preview image figure-->
        <figure class="mb-4"><img class="img-fluid rounded" src="@Model.Product.Image" alt="..."></figure>
        <!-- Post content-->
        <section class="mb-5">
            <h2 class="fw-bolder mb-3 mt-1">@Model.Studio.Name</h2>
            <p class="fs-5 mb-4">@Model.Product.Description</p>
        </section>
    </article>
    <!-- Comments section -->
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form -->
                <form class="mb-4 d-flex" method="post" action="">
                    <textarea class="form-control me-2" name="commentText" rows="3" placeholder="Join the discussion and leave a comment!" required></textarea>
                    <button type="submit" class="btn btn-primary align-self-start">Post Review</button>
                </form>

                <!-- Loop through comments -->
                @foreach (var comment in @Model.Comments)
                {
                    <div class="d-flex mb-4">
                        <img class="rounded-circle" src="@comment.AppUser.ImageUrl" alt="..." style="width: 70px; height: 70px;">
                        <div class="ms-3">
                            <div class="fw-bold">@comment.AppUser.UserName</div>
                            <div class="fw-semibold">@comment.Title</div>
                            @comment.Content
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>


</div>